# Remember to add the following to your .bashrc:
# eval "$(direnv hook bash)"

layout_uv() {
    if [[ -d ".venv" ]]; then
        VIRTUAL_ENV="$(pwd)/.venv"
    fi

    if [[ -d ".venv.$(uname)" ]]; then
        VIRTUAL_ENV="$(pwd)/.venv.$(uname)"
    fi

    if [[ -z $VIRTUAL_ENV || ! -d $VIRTUAL_ENV ]] || ! $VIRTUAL_ENV/bin/python -c True; then
        log_status "No virtual environment exists. Executing \`uv venv\` to create one."
        VIRTUAL_ENV="$(pwd)/.venv.$(uname)"
        uv venv --clear "$VIRTUAL_ENV"
    fi

    UV_PROJECT_ENVIRONMENT="$VIRTUAL_ENV"
    PATH_add "$VIRTUAL_ENV/bin"
    export UV_ACTIVE=1
    export VENV_ACTIVE=1
    export VIRTUAL_ENV
    export UV_PROJECT_ENVIRONMENT
}

layout_uv
